{% extends "base.html" %}

{% block content %}
    <h1>Aeropuerto: Listado de aviones</h1>
    <a href = "/aviones/nuevoAvion/new">Habilitar un avion</a></br></br></br>
    <table border="1" bordercolor="black">
    <tr>
        <td><strong>Id Avión</strong></td>
        <td><strong>Ubicación Actual</strong></td>
        <td><strong>Puestos</strong></td>
        <td><strong>Destino</strong></td>
        <td><strong>Id Vuelo</strong></td>
    </tr>
    {% for vuelo in listaVuelos %}
    <tr>
        <td>{{vuelo.avionId}}</td>
        <td>{{vuelo.puestos}}</td>
        <td>{{vuelo.ubicacion}}</td>
        <td>{{vuelo.destino}}</td>
        <td>{{vuelo.idVuelo}}</td>
    </tr>
    {% endfor %}
    </table>
    {% if listaVuelos == false %}
        <p>No hay vuelos registrados.</p>
    {% endif %}
    <a href = "/home">Regresar</a></br></br></br>
{% endblock %}